optimizer:
  name: adam
  lr: 1.0e-3
  weight_decay: 0

train:
  epoch: 3000
  batch_size: 4096
  save_model: false
  loss: pairwise
  test_step: 3
  reproducible: true
  seed: 2025
  patience: 5

test:
  metrics: [recall, ndcg]
  k: [5, 10, 20]
  batch_size: 1024

data:
  type: general_cf
  name: amazon

model:
  name: directau
  layer_num: 2
  gamma: 1.0
  embedding_size: 128
  keep_rate: 0.8

  # for amazon
  amazon:
    layer_num: 2
    gamma: 1.0
    keep_rate: 0.98

  # for yelp
  yelp:
    layer_num: 2
    gamma: 1.0
    keep_rate: 0.98

  # for steam
  steam:
    layer_num: 2
    gamma: 1.0
    keep_rate: 0.98
