optimizer:
  name: adam
  lr: 1.0e-3
  weight_decay: 0

train:
  epoch: 3000
  batch_size: 4096
  save_model: true
  loss: pairwise
  log_loss: false
  test_step: 3
  reproducible: true
  seed: 2025
  patience: 5
  trainer: AdaGCLTrainer

test:
  metrics: [recall, ndcg]
  k: [5, 10, 20]
  batch_size: 1024

data:
  type: general_cf
  name: amazon

model:
  name: adagcl_eg_crv
  layer_num: 2
  reg_weight: 1.0e-5
  keep_rate: 0.8
  cl_weight: 1.0e-1
  ib_weight: 1.0e-2
  temperature: 0.5
  embedding_size: 128
  gamma: -0.45
  zeta: 1.05
  init_temperature: 2.0
  temperature_decay: 0.98
  lambda0: 1.0e-4
  contrastive_weight: 0.1
  contrast_temp: 0.4
  kd_weight: 1.0e-2
  kd_temperature: 0.2
  gat_heads: 1
  sem_graph_topk: 10
  llm_model: gpt-4o
  api_key: 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
  api_batch_size: 1
  api_calls_per_node: 1
  preprocess_gate_labels: False

  # for amazon
  amazon:
    layer_num: 2
    reg_weight: 1.0e-5
    cl_weight: 1.0e-1
    keep_rate: 0.98
    ib_weight: 1.0e-2
    temperature: 0.5
    gamma: -0.45
    zeta: 1.05
    init_temperature: 2.0
    temperature_decay: 0.98
    lambda0: 1.0e-4
    contrastive_weight: 1.0e-30
    contrast_temp: 0.4
    kd_weight: 1.0e-4
    kd_temperature: 0.3
    gat_heads: 1
    sem_graph_topk: 10
    gate_supervision_weight: 1.0e+1

  # for yelp
  yelp:
    layer_num: 2
    reg_weight: 1.0e-5
    cl_weight: 1.0e-1
    keep_rate: 0.98
    ib_weight: 1.0e-2
    temperature: 0.5
    gamma: -0.45
    zeta: 1.05
    init_temperature: 2.0
    temperature_decay: 0.98
    lambda0: 1.0e-4
    contrastive_weight: 1.0e-30
    contrast_temp: 0.4
    kd_weight: 1.0e-3
    kd_temperature: 0.3
    gat_heads: 1
    sem_graph_topk: 10
    gate_supervision_weight: 1.0

  # for steam
  steam:
    layer_num: 2
    reg_weight: 1.0e-5
    cl_weight: 1.0e-1
    keep_rate: 0.98
    ib_weight: 1.0e-2
    temperature: 0.5
    gamma: -0.45
    zeta: 1.05
    init_temperature: 2.0
    temperature_decay: 0.98
    lambda0: 1.0e-4
    contrastive_weight: 1.0e-30
    contrast_temp: 0.4
    kd_weight: 1.0e-3
    kd_temperature: 0.1
    gat_heads: 1
    sem_graph_topk: 10
    gate_supervision_weight: 1.0e-2
