optimizer:
  name: adam
  lr: 1.0e-3
  weight_decay: 0

train:
  epoch: 3000
  batch_size: 4096
  save_model: true
  loss: pairwise
  test_step: 3
  reproducible: true
  seed: 2025
  patience: 5

test:
  metrics: [recall, ndcg]
  k: [5, 10, 20]
  batch_size: 1024

data:
  type: general_cf
  name: amazon

model:
  name: simgcl_kar
  # general parameters here
  layer_num: 3
  keep_rate: 1.0
  reg_weight: 1.0e-5
  embedding_size: 192
  # dataset-specific parameters here
  kg_weight: 1.0e-2
  kg_temperature: 0.3

  # for amazon
  amazon:
    layer_num: 3
    reg_weight: 1.0e-5
    cl_weight: 1.0e-1
    temperature: 0.2
    eps: 0.9
    kg_weight: 1.0e-4
    kg_temperature: 0.3

  # for yelp
  yelp:
    layer_num: 3
    reg_weight: 1.0e-5
    cl_weight: 1.0e-1
    temperature: 0.2
    eps: 0.9
    kg_weight: 1.0e-2
    kg_temperature: 0.3

  # for steam:
  steam:
    layer_num: 2
    reg_weight: 1.0e-5
    cl_weight: 1.0e-1
    temperature: 0.5
    eps: 0.2
    kg_weight: 1.0e-1
    kg_temperature: 0.2
